hr {
    border: 1px solid var(--purple-light) !important;
    opacity: 1 !important;
    margin: 0.75rem 0 !important;
}

.ganancias-totales-home {
    text-align: center;
}

.sumary-row > .col-3 {
    text-align: end !important;
    padding-right: 1% !important;
}

/* Tooltips de AG Charts con los colores del club */
.ag-charts-tooltip {
    --ag-charts-tooltip-background-color: rgb(0, 0, 0);
    --ag-charts-tooltip-text-color: white;
    --ag-charts-tooltip-subtle-text-color: var(--purple-light);
    --ag-charts-tooltip-border-color: var(--purple-light);
    --ag-charts-tooltip-border-width: 2px;
}

/* Big Screen */
@media screen and (min-width: 1900px) {

    .sumary-row {
        padding: 1.25% 0;
    }

    .home-row-chart {
        padding: 30% 0;
    }

}

/* Small Sreen */
@media screen and (max-width: 1900px) {

    .sumary-row {
        padding: 0.25% 0;
    }

    .sumary-row > .col-3 {
        padding-top: 1% !important;
    }

    .main-common-container > .container > .row > .home-chart-col{
        padding-right: 2% !important;
    }

    .home-row-chart {
        padding: 50% 0;
    }

}