.login-container {
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: content-box;
}

.login-body {
    margin: 10% 25%;
}

.login-container > form > div > svg {
    position: absolute;
    bottom: 30%;
    left: 2%;
}

.login-container > form > div > svg.password-eye {
    right: 0%;
    left: 94%;
}

.login-container > form > div > svg.password-eye:hover {
    cursor: var(--gtav-cursor), auto;
}

.login-container > form > div {
    position: relative;
}

.login-container>h2 {
    background-color: #251032;
    color: white;
    margin: 0;
    padding: 2%;
}

.login-container>form {
    padding: 3%;
}

.login-container>form>div>button {
    width: -webkit-fill-available;
    text-align: center !important
}

/* Login Form */
input[type=text],
input[type=password] {
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    border: 1px solid var(--purple-light);
    border-radius: 0%;
    padding-left: 7%;
}

input[type=text]:focus,
input[type=password]:focus,
/* no funciona */
input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:focus {
    background-color: #251032;
    color: white;
    border-color: var(--purple-light) !important;
    box-shadow: 0 0 0 .25rem rgba(211, 159, 253, 0.25) !important;
}

/* no funciona */
input#controlId.User.form-control:-webkit-autofill,
input#controlId.User.form-control:-webkit-autofill:focus,
input:is(:-webkit-autofill, :autofill) {
    background-color: #251032 !important
}

input[type=text]::placeholder,
input[type=password]::placeholder {
    color: white;
    opacity: 0.4;
}

input[type=text]:hover::placeholder,
input[type=password]:hover::placeholder {
    color: white;
    opacity: 1;
}

input[type=text]:hover,
input[type=password]:hover {
    background-color: #251032;
    color: white;
}

.login-btn {
    margin: 0 !important;
}

#register-btn {
    background-color: transparent !important;
    padding: 1% !important;
    color: rgba(211, 181, 236, 0.6) !important;
    border: 3px solid #251032 !important;
    margin: 0 !important;
    margin-top: 2% !important;
}

#register-btn:hover {
    background-color: transparent !important;
    border: 3px solid #865EAB !important;
    color: white !important;
    cursor: var(--gtav-cursor), auto !important;
}

/* Error Alert */
.login-alert {
    padding: 2%;
    background-color: rgba(141, 48, 41, 0.7);
    color: white;
}

.login-alert-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    background: none;
}

.login-alert-closebtn:hover {
    color: white;
    cursor: var(--gtav-cursor), auto;
}

/* Big Screen */
@media screen and (min-width: 1900px) {

    .login-body {
        margin: 20% 30%;
    }

}

/* Small Sreen */
@media screen and (max-width: 1900px) {

    .login-body {
        margin: 15% 25% 10% 25%;
    }

}





/* Register Page */
.register-container {
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: content-box;
}

.register-container>form>div>svg {
    position: absolute;
    bottom: 30%;
    left: 2%;
}

.register-container>form>div>svg.password-eye {
    right: 0%;
    left: 94%;
}

.register-container>form>div>svg.password-eye:hover {
    cursor: var(--gtav-cursor), auto;
}

.register-container>form>div {
    position: relative;
}

.register-container>form {
    padding: 3%;
}

.register-container>form>div>button {
    width: -webkit-fill-available;
    text-align: center !important
}

.register-btn {
    margin: 0 !important;
}