@media screen and (max-width: 650px) {

    body {
        font-size: 0.75em !important;
        padding: 0 !important;
    }

    #root {
        margin: 0 !important;
    }

    .fameBar-Container > h1 {
        font-size: calc(0.40rem + 0.70vw) !important;
    }

    .dj-btn-size {
        font-size: 12px !important;
    }

    .setting-container {
        width: 50% !important;
        right: 1% !important;
    }

    .venta-personalizada-flex {
        flex: 2 1 !important;
    }

    .list-products {
        flex: 3 1 !important;
    }

    h1 {
        font-size: calc(0.75rem + 1vw) !important;
    }

    .homeInfo {
        font-size: 1em !important;
    }

    .aside-menu > a {
        font-size: 1em !important;
    }

    .line-chart-container > div {
        height: 25vh !important;
    }

    .modal-content {
        width: 70% !important;
    }

    .club-sumary > .col-9 {
        flex: 5 !important;
    }

    .club-sumary > .col-3 {
        flex: 2 !important;
    }

    .container {
        margin-top: 1% !important;
    }

    progress {
        width: 67% !important;
        margin: 0 0 0 5% !important;
    }

    .login-body {
        margin: 15% 10% 0% 10% !important;
    }

    .login-container > form > div > svg.password-eye {
        left: 92% !important;
    }

    input[type=text], input[type=password] {
        padding-left: 8% !important;
    }

    .header-img {
        width: 40px !important;
        height: 40px !important;
    }

    .mejoras-grid-container > div > .col-3 {
        width: 25% !important;
    }

    .tecnico-img {
        height: 12vh;
    }

}