.change-psswd-container {
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: content-box;
}

.change-psswd-container>form>div>svg {
    position: absolute;
    bottom: 30%;
    left: 2%;
}

.change-psswd-container>form>div>svg.password-eye {
    right: 0%;
    left: 94%;
}

.change-psswd-container>form>div>svg.password-eye:hover {
    cursor: var(--gtav-cursor), auto;
}

.change-psswd-container>form>div {
    position: relative;
}

.change-psswd-container>form {
    padding: 3%;
}

.change-psswd-container>form>div>button {
    width: -webkit-fill-available;
    text-align: center !important
}

.change-psswd-btn {
    margin: 0 !important;
}